---
import { Download } from "lucide-react";
import { Button } from "../ui/button";
import { Separator } from "../ui/separator";
import { H1, P } from "../ui/typography";
import { StarSeparator } from "./StarSeparator";
---

<section id="about" class="scroll-mt-24 py-16">
  <div
    class="container mx-auto flex max-w-7xl flex-col justify-center gap-16 px-4"
  >
    <div class="flex flex-col items-center gap-2">
      <H1>ABOUT</H1>
      <StarSeparator />
    </div>
    <div class="flex flex-col items-center gap-5">
      <div class="mx-0 flex flex-col items-stretch gap-5 md:mx-32 md:flex-row">
        <P className="flex-1 italic"
          >I am currently a 2nd year graduate student in computer science at the
          Faculty of Natural, Mathematical and Educational Sciences in Mostar.</P
        >
        <Separator orientation="horizontal" className="md:hidden" />
        <P className="flex-1 italic"
          >A highly motivated and skilled web developer in designing and
          developing dynamic websites. Proficient in front-end and back-end
          technologies, with a strong understanding of web development
          principles.</P
        >
      </div>
      <Button variant="outline" size="lg">Download CV <Download /></Button>
    </div>
  </div>
</section>
