---
import { FileUser } from "lucide-react";
import { Button } from "../ui/button";
import { H1, Lead } from "../ui/typography";
import { StarSeparator } from "./StarSeparator";
import { t } from "i18next";

/*const enCVFileLink =
  "https://www.canva.com/design/DAG3BAbH6VQ/caVuh2HMUzglf7YwoVfJuQ/view?utm_content=DAG3BAbH6VQ&utm_campaign=designshare&utm_medium=link2&utm_source=uniquelinks&utlId=h3d7ff6e0f9"*/
const hrCVFileLink =
  "https://www.canva.com/design/DAG3AuEHNkk/mvkZqJmtWEutIfSeVQE8qg/view?utm_content=DAG3AuEHNkk&utm_campaign=designshare&utm_medium=link2&utm_source=uniquelinks&utlId=h8d6c540b1a";
---

<section id="about" class="scroll-mt-24 py-16">
  <div
    class="container mx-auto flex max-w-7xl flex-col justify-center gap-16 px-4"
  >
    <div class="flex flex-col items-center gap-2">
      <H1>{t("ABOUT.TITLE")}</H1>
      <StarSeparator />
    </div>
    <div class="flex flex-col items-center gap-5">
      <div class="mx-0 flex flex-col items-stretch gap-5 md:mx-32 md:flex-col">
        <Lead className="text-center text-foreground"
          >{t("ABOUT.DESCRIPTION1")}</Lead
        >
        <Lead className="text-center text-foreground"
          >{t("ABOUT.DESCRIPTION2")}</Lead
        >
      </div>
      <Button variant="outline" size="lg" href={hrCVFileLink} target="_blank"
        >{t("ABOUT.VIEW_CV")} <FileUser /></Button
      >
    </div>
  </div>
</section>
