---
import { CircleUserRound } from "lucide-react";
import { H2, Lead } from "../ui/typography";
---

<section>
  <div class="mb-16">
    <H2>About</H2>
    <Lead>Who I am & what I do?</Lead>
  </div>
  <div>Elements</div>
</section>
