---
import { Download } from "lucide-react";
import { Button } from "../ui/button";
import { Separator } from "../ui/separator";
import { H1, Lead, P } from "../ui/typography";
import { StarSeparator } from "./StarSeparator";

import cv from "@/assets/docs/Marko_Penava_CV.pdf";
---

<section id="about" class="scroll-mt-24 py-16">
  <div
    class="container mx-auto flex max-w-7xl flex-col justify-center gap-16 px-4"
  >
    <div class="flex flex-col items-center gap-2">
      <H1>ABOUT</H1>
      <StarSeparator />
    </div>
    <div class="flex flex-col items-center gap-5">
      <div class="mx-0 flex flex-col items-stretch gap-5 md:mx-32 md:flex-col">
        <Lead className="text-center text-foreground"
          >I’m a frontend developer with a Master’s degree in Computer Science
          from the University of Mostar. Since 2023, I’ve been working at an IT
          company where I build and maintain web and mobile applications using
          React and React Native.</Lead
        >
        <Lead className="text-center text-foreground"
          >Through hands-on project experience, I’ve developed a solid
          understanding of UI/UX, responsive design, and performance
          optimization. I enjoy turning ideas into practical, well-designed
          interfaces and take pride in writing clean, efficient code that’s easy
          to maintain.</Lead
        >
      </div>
      <Button variant="outline" size="lg" href={cv} download
        >Download CV <Download /></Button
      >
    </div>
  </div>
</section>
