---
import { H2, Lead } from "../ui/typography";
---

<section id="certificates" class="scroll-mt-24">
  <div class="mb-16">
    <H2>Certificates</H2>
    <Lead>Which skills are backed by certificates?</Lead>
  </div>
  <div>Elements</div>
</section>
