---
import { H2, Lead } from "../ui/typography";
---

<section>
  <div class="mb-16">
    <H2>Education & Career</H2>
    <Lead>What shaped my professional path?</Lead>
  </div>
  <div>Elements</div>
</section>
