---
import ProfileImage from "@/components/shared/ProfileImage";
import { H1, H3 } from "../ui/typography";
import { Button } from "../ui/button";
import { Calendar } from "lucide-react";
---

<section id="home" class="scroll-mt-24">
  <div class="container">
    <div class="flex flex-col items-center gap-8 py-32">
      <ProfileImage client:idle />
      <H1>Marko Penava</H1>
      <H3>{"<Frontend Developer />"}</H3>
      <Button className="flex w-full md:w-fit"
        ><Calendar />Book a Meeting</Button
      >
    </div>
  </div>
</section>
