---
import { H2 } from "../ui/typography";
import { StarSeparator } from "./StarSeparator";
---

<section id="skills" class="scroll-mt-24 py-16">
  <div class="container mx-auto max-w-7xl">
    <div class="flex flex-col items-center gap-2">
      <H2>SKILLS</H2>
      <StarSeparator />
    </div>
    <div>Elements</div>
  </div>
</section>
