@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: 210 29% 24%;
    --foreground: 0 0% 98%;
    --card: 210 29% 24%;
    --card-foreground: 0 0% 98%;
    --popover: 210 29% 24%;
    --popover-foreground: 0 0% 98%;
    --primary: 208 98% 43%;
    --primary-foreground: 0 0% 98%;
    --secondary: 210 29% 24%;
    --secondary-foreground: 0 0% 98%;
    --muted: 210 29% 24%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 210 29% 24%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 29% 24%;
    --input: 210 29% 24%;
    --ring: 0 0% 83.1%;
    --radius: 0.5rem;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: "Montserrat Variable", sans-serif;
  }
  html {
    scroll-behavior: smooth;
  }
}
